<div
  class="flex min-h-full gap-8 sm:flex-row flex-col justify-center px-6 py-12 h-screen items-center"
>
  <div
    *ngFor="let person of people"
    class="py-4 px-8 flex flex-col gap-2 w-64 bg-slate-900 rounded-sm border border-slate-700 hover:border hover:border-blue-400 transition ease-in-out duration-500"
  >
    <h1 class="text-3xl uppercase font-extrabold tracking-widest text-white">
      {{ person.name }}
    </h1>
    <div class="flex justify-between font-semibold">
      <span class="text-slate-300 px-1 bg-blue-900 self-center rounded-sm">{{
        person.country
      }}</span>
      <p class="text-slate-300 text-xl">{{ "8:00" }}</p>
    </div>
  </div>
</div>
